#UnityPathway a {
    text-decoration: none;
    border:3px outset #366c40;
    background-color: #62e53e;
    color:black;
    border-radius: 9px;;
    width:max-content;
    padding:7px 17px;
    display: block;
    margin:10px auto 20px;
}
#UnityPathway h3 {
    text-align: center;
    padding:10px 0px 20px 0px;
}
#UnityPathway  p {
    border:1px solid #366c40;
    width:80%;
    margin:10px 10%;
    background-color: rgb(241, 232, 221);
    padding:0px 0px 10px;
}

#UnityPathway  li {
    margin-left:30px;
    padding:5px;
}

@keyframes gradient  {
     0%{background-position:70% 0%}
    50%{background-position:31% 100%}
    100%{background-position:70% 0%}
}
#UnityPathway strong {
    border:1px solid #366c40;
    background: linear-gradient(209deg, #366c40, #62e53e);
    background-size: 400% 400%;

    -webkit-animation: gradient 18s ease infinite;
    -moz-animation: gradient 18s ease infinite;
    animation: gradient 18s ease infinite;
    display: block;
    text-align: left;
  
    margin-bottom:10px;
    padding:5px 30px;
}